body {
    
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

header {
    
    padding: 25px;
}

.header-wrapper {
    width: 75%;
    margin: 0 auto;
}
.fix-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    margin-left: 40px;
    color: black;
    opacity: 0.5;
    text-decoration: none;
    padding-bottom: 25px;
}

.pict {
    padding-left: 15px;
}


header img {
    width: 93px;
    height: 50px;
}

header a:first-child {
    margin-left: 0;
    color: black;
    opacity: 1;
     
}

.ring {
    width: 26px;
    height: 30px;
    padding-bottom: 8px;
 }
.elippse {
    width: 26px;
    height: 30px;
 }

.burger {
    width: 45px;
    height: 45px;
 }

#main {
    background-color: yellow;
}

.flex-box2 {
    display: flex;
    align-items: center;
    
}

.main-pict {
    position: relative;
    padding-left: 163px;
    padding-top: -27;
}
.ospan {
    width: 857px;
    height: 836px;
    position: relative;
    padding-left: 97px;
    
    
    
}

.color {
    width: 1052px;
    height: 1052px;
    position: absolute;
    
    
}

.main-text {
    color: var(--unnamed, #000);
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.secend {
    color: var(--unnamed, #000);
font-size: 48px;
font-family: Nunito;
font-style: normal;
font-weight: 700;
line-height: 105%;
letter-spacing: -0.48px;
text-transform: uppercase;
}

.m-button {
    display: flex;
    width: 296px;
    height: 50px;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--unnamed, #000);
    background-color: yellow;
    text-decoration: none;
    color: var(--unnamed, #000);
    text-align: center;
    font-size: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.main-button a{
    text-decoration: none;
}